@using Newtonsoft.Json
@{
    ViewData["Title"] = "Add a Review";
}

@model Item
    <!-- Review form for an item -->
    <form id="reviewForm">
        <h1>@Model.name</h1>
        <img src="@Model.imageUrl" style="width: 200px; height: auto; object-fit: cover;" class="card-img-top" alt="@Model.name">
        <h1>Rate the product</h1>
        <div class="star-rating">
            @for (int i = 1; i <= 5; i++)
            {
                <input type="radio" id="star-@i" name="rating" value="@i" />
                <label for="star-@i" title="Evaluation : @i stars">
                    ★
                </label>
            }
        </div>
        <br>
        <textarea name="comment" placeholder="Write your opinion" rows="4" cols="50" required></textarea>
        <br>
        <button type="submit">Send</button>
    </form>

@section Scripts{
    <script>var model = @Html.Raw(JsonConvert.SerializeObject(Model));</script> <!-- Pass model data to JavaScript -->
    <script src="~/js/addReview.js?v=1.0"></script>
}
@section Style{
    <link rel="stylesheet" href="~/css/addReview.css" />
}